@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #6a994e;

}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2rem;
    overflow: hidden;
    /* background:linear-gradient(to top left, #ffffff,lightcyan); */
    background-color: white;
}

.flex {
    display: flex;


}

.assignment {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.left-side {
    height: 100vh;
    width: 50vw;
}

.right-side {
    background-image: url("home3.png");
    background-size: cover;
    width: 50vw;
    height: 96vh;
    margin: 12px;
    border-radius: 16px;
    animation: fadein 2s;
}

.nav {
    justify-content: space-between;
    padding: 20px 10px;
}

.nav-logo {
    animation: faderight 0.5s;
}

.signin {
    align-items: center;
    gap: 10px;

}

.nav-signin1 {
    color: gray;
    animation: fadeleft 0.5s;
}

.nav-signin2 button {
    padding: 8px 12px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid rgb(56, 207, 56);
    color: var(--green);
}

.nav-signin2 button:hover {
    background-color: var(--green);
    color: whitesmoke;


}

.form {
    flex-direction: column;
    gap: 16px;
    margin:20px 100px;
    justify-content: center;

    text-align: center;
    animation: fadeup 1.3s;
    box-shadow: 0 0 10px black;
    padding: 50px 20px 35px 20px;
    border-radius: 20px;
    background:linear-gradient(to bottom right, #ffffff,lightcyan);
    backdrop-filter: blur(8px);
}

.form h1 {
    text-align: center;
    font-size: 2.7rem;
    
}

.forgot {
    justify-content: center;
    gap: 10px;
    color: var(--green);
}

.forgot a {
    text-decoration: none;
    color: var(--green);
}

.forgot a:hover {
    color: rgb(3, 49, 3);
    transform: scale(1.01);

}


.online-id {
    height: 60px;
    width: 95%;
    margin: 10px 0 0 0; 
    padding: 10px;

    border-radius: 15px;
    font-size: 1.1rem;
    border: 1px solid var(--green);
    box-shadow: 0 0 8px var(--green);
}

.online-id:focus,
.password:focus {
    outline: var(--green);
    border: 2px solid var(--green);
}

.password {
    height: 60px;
    width: 95%;
    margin: 10px 0 0 0; 

    padding: 10px;
    border-radius: 15px;
    font-size: 1.1rem;
    border: 1px solid var(--green);
    box-shadow: 0 0 8px var(--green);
}

/* #show-password {
    margin: 22px 0 0 12px;
    color: gray;
} */

#alert {
    color: gray;
    align-self: self-start;
    margin-left: 2%;
    font-size: 0.9rem;
}

.remember-me {
   align-self: self-start;
   justify-self: center;
   margin-left: 1%;

}

.checkbox {
    width: 28px;
    align-self: self-start;
    justify-self: center;
    
    margin: 3px;
    background-color: white;
    accent-color: var(--green);

}

.login1 {
    /* unclicked button */
    width: 90%;
    align-self: center;
    padding: 12px;


    border-radius: 50px;
    background-color: rgb(128, 128, 128);
    border: none;
    color: white;
}

.login2 {
    /* clicked button */
    width: 90%;
    align-self: center;
    padding: 12px;

    border-radius: 50px;
    background-color: var(--green);
    border: none;
    color: white;
}


.login2:hover {
    transform: scale(1.03);
}

.copyright {
    text-align: center;
    margin-top: 35px;
    font-size: 0.8rem;
    color: rgb(95, 93, 93);
    opacity: 1;
    animation: fadeup 0.7s;
}

.fa-spinner {
    animation: spin 2s linear infinite;
    margin-left: 5px;
}

.hidden {
    visibility: hidden;

}



/* animations */

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

}

@keyframes faderight {
    from {
        opacity: 0;
        transform: translateX(-30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

}

@keyframes fadein {

    from {
        opacity: 0;
        transform: scale(0.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}